<configuration>

    <!-- Console output settings. -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    !-- File output settings. -->
    <appender name="APP_FILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs/app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- root logger -->
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Inherit root logger and also output to file. -->
    <logger name="$package$" level="debug">
        <appender-ref ref="APP_FILE" />
    </logger>

</configuration>
